<<<<<<< HEAD
﻿<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
	<base href="/" />
	<title>Car Dealership App</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />
</head>

<body>

	<div ng-view></div>

	<script src="~/Scripts/jquery-2.1.4.js"></script>
	<script src="~/Scripts/bootstrap.js"></script>
	<script src="~/Scripts/angular.js"></script>
	<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
	<script src="~/Scripts/angular-resource.js"></script>
	<script src="~/Scripts/angular-route.js"></script>
	<script src="~/ngApp/app.js"></script>
	<script src="~/ngApp/Services.js"></script>
	<script src="~/ngApp/Controller.js"></script>
	
</body>

</html>
=======
﻿<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <base href="/" />

</head>
<body>
    <a href="/add">Add New Car</a>

    <div ng-view>
    </div>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/app.js"></script>
    <script src="~/ngApp/Services.js"></script>
    <script src="~/ngApp/Controllers.js"></script>


</body>
</html>
>>>>>>> d13f471b7b4417ed517cde658ec1fd9c2d140d41
